<div class="container">
  <h1 class="Titulo-Galeria">Galeria de imagenes</h1><br>

<!--Carrousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/tres.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/dos.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/dos.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


  <!--Grid de imagenes-->
    <!--Texto de arriba-->
  <div class="container">
    <h2 class="Titulo-secundario">Imagenes</h2>
   <!--Primera fila-->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/dos.jpg" target="_blank">
            <img src="assets/img/dos.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/tres.jpg" target="_blank">
            <img src="assets/img/tres.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/unop.jpg" target="_blank">
            <img src="assets/img/unop.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    
   <!--Segunda fila-->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/dos.jpg" target="_blank">
            <img src="assets/img/dos.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/tres.jpg" target="_blank">
            <img src="assets/img/tres.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/unop.jpg" target="_blank">
            <img src="assets/img/unop.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>

   <!--Tercer fila-->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/dos.jpg" target="_blank">
            <img src="assets/img/dos.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/tres.jpg" target="_blank">
            <img src="assets/img/tres.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/img/unop.jpg" target="_blank">
            <img src="assets/img/unop.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
  