<div class="container-fluid">
  <h1 class="Titulo-Galeria">Galería de imágenes</h1><br>

<!--Carrousel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/unop.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/dos.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/tres.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/cuatro.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/cinco.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/seis.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/siete.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/ocho.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/nueve.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- <span class="linea"></span> -->

<!--Primera fila-->
  <section class="galeria">
    <a href="galeria/#img1" src=""><img src="assets/img/unop.jpg" alt=""></a>
    <a href="galeria/#img2" src=""><img src="assets/img/dos.jpg" alt=""></a>
    <a href="galeria/#img3" src=""><img src="assets/img/tres.jpg" alt=""></a>
  </section>

  <article class="light-box" id="img1">
    <a href="galeria/#img9" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/unop.jpg" alt="">
    <a href="galeria/#img2" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img2">
    <a href="galeria/#img1" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/dos.jpg" alt="">
    <a href="galeria/#img3" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img3">
    <a href="galeria/#img2" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/tres.jpg" alt="">
    <a href="galeria/#img4" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <!--Segundo fila-->
  <section class="galeria">
    <a href="galeria/#img4" src=""><img src="assets/img/cuatro.jpg" alt=""></a>
    <a href="galeria/#img5" src=""><img src="assets/img/cinco.jpg" alt=""></a>
    <a href="galeria/#img6" src=""><img src="assets/img/seis.jpg" alt=""></a>
  </section>

  <article class="light-box" id="img4">
    <a href="galeria/#img3" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/cuatro.jpg" alt="">
    <a href="galeria/#img5" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img5">
    <a href="galeria/#img4" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/cinco.jpg" alt="">
    <a href="galeria/#img6" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img6">
    <a href="galeria/#img5" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/seis.jpg" alt="">
    <a href="galeria/#img7" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <!--Segundo fila-->
  <section class="galeria">
    <a href="galeria/#img7" src=""><img src="assets/img/siete.jpg" alt=""></a>
    <a href="galeria/#img8" src=""><img src="assets/img/ocho.jpg" alt=""></a>
    <a href="galeria/#img9" src=""><img src="assets/img/nueve.jpg" alt=""></a>
  </section>

  <article class="light-box" id="img7">
    <a href="galeria/#img6" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/siete.jpg" alt="">
    <a href="galeria/#img8" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img8">
    <a href="galeria/#img7" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/ocho.jpg" alt="">
    <a href="galeria/#img9" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>

  <article class="light-box" id="img9">
    <a href="galeria/#img8" class="next"><i class="bi bi-skip-start"></i></a>
    <img src="assets/img/nueve.jpg" alt="">
    <a href="galeria/#img1" class="next"><i class="bi bi-skip-end"></i></a>
    <a href="galeria" class="close">X</a>
  </article>