<div id="posts">
    <ul>
        <div class="container" *ngFor="let articulo of Articulos">
            <h1 class="Titulo-Articulo"> {{articulo.title}} </h1>
            <p class="p-Resumen"> {{articulo.abstract}}</p>
            <hr class="hr1">
            <hr class="hr2">
            <p class="p-autor">{{articulo.autor}} </p>
            <div class="Img-Articulo rounded mx-auto d-block img-fluid">
            <img src="{{articulo.image}}"  class="img-fluid" alt="...">
            <p class="pie-de-imagen">{{articulo.piepagina}}</p>
            </div>
            <p class="p-content">{{articulo.content}} </p><br>
            <p class="p-referencia">{{articulo.referencias}} </p><br>
            <a href={{articulo.Link}}> <button class="form-submit">Más información</button></a>
            <hr class="hr3">
        </div>
    </ul>
</div>